body {
    margin: 0;
    padding: 0;
}
li {
     font-weight: bold;
     list-style: none;
     float: left;
     text-align: center;
}
ul { padding: 0;
    margin: 0;
}

header{
    display: flex;
}
.slider{
    display: flex;
}
.menu ul{
    display: flex;
}
.services input{
    position: relative;
    display: none;

}
.services label{
    display: block;
    position: relative;

}.services div{
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 260px;

 }
.services input:checked + label + div{
    visibility: visible;
    opacity: 1;
    top:0px;

}
.services{
    position: relative;
    height: 250px;
}